<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="wssv_url" value="ws://0.0.0.0:7890" />
		<add key="http_url" value="http://*:8000/" />
		<add key="mongo_url" value="mongodb://mongo:27017/?readPreference=primary&amp;appname=MongoDB%20Compass&amp;directConnection=true&amp;ssl=false" />

	</appSettings>
</configuration>
